# Python Collections (Arrays)

## There are four collection data types in the Python programming language:

##   List is a collection which is ordered and changeable. Allows duplicate members.
##   Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
##   Set is a collection which is unordered and unindexed. No duplicate members.
##   Dictionary is a collection which is ordered* and changeable. No duplicate members.

# A. List:

In [1]:
# Lists are just like dynamic sized arrays.
# Lists need not be homogeneous always.
# A single list may contain DataTypes like Integers, Strings, as well as Objects. 
# Lists are mutable, and hence, they can be altered even after their creation.

## Creating a List

In [2]:
# Creating a List
List1 = []
print(len(List1))
  
# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

In [3]:
# Python program to demonstrate
# Creation of List

# Creating a List
List = []
print("Blank List: ")
print(List)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

# Creating a List of strings and accessing
# using index
List = ["Amol", "Suraj", "Kedar"]
print("\nList Items: ")
print(List[0])
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [["Amol", "Suraj"] , ['Kedar']]
print("\nMulti-Dimensional List: ")
print(List)
print(List[1])

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Amol
Kedar

Multi-Dimensional List:
[['Amol', 'Suraj'], ['Kedar']]
['Kedar']

In [4]:
# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Amol', 4.21, 'Kedar', 6, 'Samir']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Amol', 4.21, 'Kedar', 6, 'Samir']

## Knowing the size of List

In [5]:
# Creating a List
List1 = []
print(len(List1))

# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

# Adding Elements to a List

##  1. Using append() method

In [6]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = []
print("Initial blank List: ")
print(List)

# Addition of Elements
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

# Adding elements to the List
# using Iterator
for i in range(1, 4):
	List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

# Addition of List to a List
List2 = ['For', 'Amol']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)
print(List[7])

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Amol']]
['For', 'Amol']

# 2. Using insert() method

## append() method only works for addition of elements at the end of the List, for addition of element at the desired position, insert() method is used. Unlike append() which takes only one argument, insert() method requires two arguments(position, value).

In [7]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Amol')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Amol', 1, 2, 3, 12, 4]

# 3. Using extend() method

## extend(), this method is used to add multiple elements at the same time at the end of the list.

In [8]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([8, 'Amol', 'Kedar'])
print("\nList after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'Amol', 'Kedar']

# Accessing elements from the List

## In order to access the list items refer to the index number. Use the index operator [ ] to access an item in a list.The index must be an integer.Nested list are accessed using nested indexing.

In [9]:
# Python program to demonstrate
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["Amol", "Kedar", "Suraj"]

# accessing a element from the
# list using index number
print("Accessing a element from the list")
print(List[0])
print(List[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Samir', 'Yashya'] , ['Nitin']]

# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from the list
Amol
Suraj
Accessing a element from a Multi-Dimensional list
Yashya
Nitin

# Negative indexing

##  In Python, negative sequence indexes represent positions from the end of the array. Instead of having to compute the offset as in List[len(List)-3], it is enough to just write List[-3]. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item, etc.

In [10]:
List = [1, 2, 'Amol', 4, 'Kedar', 6, 'Suraj']

# accessing an element using
# negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list
print(List[-3])

Accessing element using negative indexing
Suraj
Kedar

# Removing Elements from the List

# 1. Using remove() method

## Elements can be removed from the List by using built-in remove() function but an Error arises if element doesn’t exist in the set. Remove() method only removes one element at a time, to remove range of elements, iterator is used. The remove() method removes the specified item.

In [11]:
# Python program to demonstrate
# Removal of elements in a List

# Creating a List
List = [1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12]
print("Initial List: ")
print(List)

# Removing elements from List
# using Remove() method
List.remove(5)
List.remove(6)
print("\nList after Removal of two elements: ")
print(List)

# Removing elements from List
# using iterator method
for i in range(1, 5):
    List.remove(i)
print("\nList after Removing a range of elements: ")
print(List)

Initial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

# 2. Using pop() method

## Pop() function can also be used to remove and return an element from the set, but by default it removes only the last element of the set, to remove element from a specific position of the List, index of the element is passed as an argument to the pop() method.

In [12]:
List = [1,2,3,4,5]

# Removing element from the
# Set using the pop() method
List.pop()
print("\nList after popping an element: ")
print(List)

# Removing element at a
# specific location from the
# Set using the pop() method
List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

# Slicing of a List

## In Python List, there are multiple ways to print the whole List with all the elements, but to print a specific range of elements from the list, we use Slice operation. Slice operation is performed on Lists with the use of a colon(:). To print elements from beginning to a range use [: Index], to print elements from end-use [:-Index], to print elements from specific Index till the end use [Index:], to print elements within a range, use [Start Index:End Index] and to print the whole List with the use of slicing operation, use [:]. Further, to print the whole List in reverse order, use [::-1].

In [13]:
# Python program to demonstrate
# Removal of elements in a List

# Creating a List
List = ['G','E','E','K','S','F',
		'O','R','G','E','E','K','S']
print("Initial List: ")
print(List)

# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

# Print elements from a
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
	"element till the end: ")
print(Sliced_List)

# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)
print(List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

Elements sliced from 5th element till the end:
['F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Printing all elements using slice operation:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

In [14]:
# Creating a List
List = ['G','E','E','K','S','F',
		'O','R','G','E','E','K','S']
print("Initial List: ")
print(List)

# Print elements from beginning
# to a pre-defined point using Slice
Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)

# Print elements of a range
# using negative index List slicing
Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)

# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Elements sliced till 6th element from last:
['G', 'E', 'E', 'K', 'S', 'F', 'O']

Elements sliced from index -6 to -1
['R', 'G', 'E', 'E', 'K']

Printing List in reverse:
['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

# List Comprehension

## List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc.

## Syntax:

##    newList = [ expression(element) for element in oldList if condition ]

In [16]:
# Python program to demonstrate list
# comprehension in Python
	
# below list contains square of all
# odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print (odd_square)

[1, 9, 25, 49, 81]

In [17]:
# for understanding, above generation is same as,
odd_square = []

for x in range(1, 11):
	if x % 2 == 1:
		odd_square.append(x**2)

print (odd_square)

[1, 9, 25, 49, 81]

In [18]:
# Let us first create a list to demonstrate slicing
# lst contains all number from 1 to 10
lst =list(range(1, 11))
print (lst)

# below list has numbers from 2 to 5
lst1_5 = lst[1 : 5]
print (lst1_5)

# below list has numbers from 6 to 8
lst5_8 = lst[5 : 8]
print (lst5_8)

# below list has numbers from 2 to 10
lst1_ = lst[1 : ]
print (lst1_)

# below list has numbers from 1 to 5
lst_5 = lst[: 5]
print (lst_5)

# below list has numbers from 2 to 8 in step 2
lst1_8_2 = lst[1 : 8 : 2]
print (lst1_8_2)

# below list has numbers from 10 to 1
lst_rev = lst[ : : -1]
print (lst_rev)

# below list has numbers from 10 to 6 in step 2
lst_rev_9_5_2 = lst[9 : 4 : -2]
print (lst_rev_9_5_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5]
[6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6]

## [start : stop : steps]

## We can use filter function to filter a list based on some condition provided as a lambda expression as first argument and list as second argument, example of which is shown below :

In [19]:
import functools

# filtering odd numbers
lst = filter(lambda x : x % 2 == 1, range(1, 20))
print (list(lst))

# filtering odd square which are divisible by 5
lst = filter(lambda x : x % 5 == 0,
	[x ** 2 for x in range(1, 11) if x % 2 == 1])
print (list(lst))

# filtering negative numbers
lst = filter((lambda x: x < 0), range(-5,5))
print (list(lst))

# implementing max() function, using
print (functools.reduce(lambda a,b: a if (a > b) else b, [7, 12, 45, 100, 15]))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[25]
[-5, -4, -3, -2, -1]
100

# Nested List Comprehensions in Python

## List Comprehensions are one of the most amazing features of Python. It is a smart and concise way of creating lists by iterating over an iterable object. Nested List Comprehensions are nothing but a list comprehension within another list comprehension which is quite similar to nested for loops.

In [20]:
matrix = []

for i in range(5):
	
	# Append an empty sublist inside the list
	matrix.append([])
	
	for j in range(5):
		matrix[i].append(j)
		
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [21]:
# Nested list comprehension
matrix = [[j for j in range(5)] for i in range(5)]

print(matrix)

#[i for i in range(5)] –> In this case, the output of the expression
#is simply the variable i itself and hence we append its output to the list while i
#iterates from 0 to 4.

#Thus the output would be –> [0, 1, 2, 3, 4]

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [22]:
"""Suppose I want to flatten a given 2-D list:

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Expected Output: flatten_matrix = [1, 2, 3, 4, 5, 6, 7, 8, 9]"""
# 2-D List
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

flatten_matrix = []

for sublist in matrix:
	for val in sublist:
		flatten_matrix.append(val)
		
print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# Again this can be done using nested list comprehension which has been shown below:
# 2-D List
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Nested List Comprehension to flatten a given 2-D matrix
flatten_matrix = [val for sublist in matrix for val in sublist]

print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
    """Suppose I want to flatten a given 2-D list and only include those strings whose lengths are less than 6:

    planets = [[‘Mercury’, ‘Venus’, ‘Earth’], [‘Mars’, ‘Jupiter’, ‘Saturn’], [‘Uranus’, ‘Neptune’, ‘Pluto’]]


    Expected Output: flatten_planets = [‘Venus’, ‘Earth’, ‘Mars’, ‘Pluto’]"""
    # 2-D List of planets
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]

flatten_planets = []

for sublist in planets:
	for planet in sublist:
		
		if len(planet) < 6:
			flatten_planets.append(planet)
		
print(flatten_planets)

['Venus', 'Earth', 'Mars', 'Pluto']

In [25]:
# 2-D List of planets
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]

# Nested List comprehension with an if condition
flatten_planets = [planet for sublist in planets for planet in sublist if len(planet) < 6]
		
print(flatten_planets)

['Venus', 'Earth', 'Mars', 'Pluto']

In [26]:
# Remove all characters other than alphabets from string
# 1. Traverse string 
# 2. Select characters which lie in range of [a-z] or [A-Z]
# 3. Print them together

In [27]:
# How does ord() and range() function works in python
# The ord() method returns an integer representing the Unicode code point of the given Unicode character.For example,

# ord('5') = 53 and ord('A') = 65

In [28]:
# Python code to remove all characters
# other than alphabets from string

def removeAll(input):

	# Traverse complete string and separate
	# all characters which lies between [a-z] or [A-Z]
	sepChars = [char for char in input if
ord(char) in range(ord('a'),ord('z')+1,1) or ord(char) in
range(ord('A'),ord('Z')+1,1)]

	# join all separated characters
	# and print them together
	return "".join(sepChars)

# Driver program
if __name__ == "__main__":
	input = "$Gee*k;s..fo, r'Ge^eks?"
	print (removeAll(input))

GeeksforGeeks

## Python - Join Lists

In [29]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [30]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [31]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## Using * operator, this method is the new addition to list concatenation and works only in Python 3.6+. Any no. of lists can be concatenated and returned in a new list using this operator.

In [32]:
# Python3 code to demonstrate list
# concatenation using * operator

# Initializing lists
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]

# using * operator to concat
res_list = [*test_list1, *test_list2]

# Printing concatenated list
print ("Concatenated list using * operator : "
							+ str(res_list))

Concatenated list using * operator : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [33]:
list = [11,22,33,44]
list.insert(3,88)
type(list)
list

[11, 22, 33, 88, 44]

In [34]:
list.reverse()

In [35]:
list

[44, 88, 33, 22, 11]

In [36]:
fruits = ['zapple', 'ybanana', 'cherry']

fruits.reverse()

In [37]:
fruits

['cherry', 'ybanana', 'zapple']

In [38]:
# Sort the list acending:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort() 
cars

['BMW', 'Ford', 'Volvo']

In [39]:
# Sort the list descending:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True) 
cars

['Volvo', 'Ford', 'BMW']

In [40]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [41]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
a

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [42]:
b

['Ford', 'BMW', 'Volvo']

# Tuple

In [43]:
#Return the number of times the value 5 appears in the tuple:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5, 5, 5, 0)

x = thistuple.count(5)

print(x)

4

In [44]:
# Search for the first occurrence of the value 8, and return its position:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(1)

print(x)

0

In [45]:
# A tuple is a collection which is ordered and unchangeable.

# Tuples are written with round brackets.

In [46]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [47]:
# Tuple items are ordered, unchangeable, and allow duplicate values.

# Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
# Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
# Since tuples are indexed, they can have items with the same value:

In [48]:
# Print the number of items in the tuple:
tuple1 = ("apple", "banana", "cherry", "apple")
print(len(tuple1))

4

In [49]:
# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [50]:
# What is the data type of a tuple?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [51]:
# Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [52]:
# # Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.
# # You can convert the tuple into a list, change the list, and convert the list back into a tuple.
# x1 = ("apple", "banana", "cherry")
# #y1 = list(x1)
# #y1[1] = "kiwi"
# #x2 = tuple(y1)
# #print(x2) 
# print(x1)
# y1 = list(x1)

In [53]:
# #initialize tuple
# aTuple = (True, 28, 'Tiger')
 
# #tuple to list
# aList = list(aTuple)
 
# #print list
# print(type(aList))
# print(aList)

In [54]:
# # Convert the tuple into a list, add "orange", and convert it back into a tuple:
# thistuple = ("apple", "banana", "cherry")
# y = list(thistuple)
# y.append("orange")
# thistuple = tuple(y)
# thistuple

In [55]:
# # When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
# # Convert the tuple into a list, remove "apple", and convert it back into a tuple:
# thistuple = ("apple", "banana", "cherry")
# y = list(thistuple)
# y.remove("apple")
# thistuple = tuple(y)
# thistuple

In [56]:
# The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [58]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

## Join Two Tuples

In [59]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiply Tuples

In [60]:
# If you want to multiply the content of a tuple a given number of times, you can use the * operator:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Unpacking a Tuple

In [61]:
# in Python, we are also allowed to extract the values back into variables. This is called "unpacking":
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [62]:
# Using Asterisk*

# If the number of variables is less than the number of values, you can add an * to 
# the variable name and the values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [63]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Sets

In [64]:
# A set is a collection which is both unordered and unindexed.
# Sets are written with curly brackets.
# Sets are unordered, so you cannot be sure in which order the items will appear.
# Set items are unordered, unchangeable, and do not allow duplicate values.
# Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [65]:
# Once a set is created, you cannot change its items, but you can add new items.
# Duplicates Not Allowed

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [66]:
thisset = {"apple", "banana", "cherry", "cherry" }

print(len(thisset))

3

In [67]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

## Join Two Sets

In [68]:
# You can use the union() method that returns a new set containing all items from both sets, 
# or the update() method that inserts all the items from one set into another:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [69]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

In [70]:
# Keep ONLY the Duplicates
# The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry",21}
y = {"google", "microsoft", "apple",21}

x.intersection_update(y)

print(x)

{'apple', 21}

In [71]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [72]:
# Keep All, But NOT the Duplicates
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'microsoft', 'banana'}

In [73]:
# The symmetric_difference() method will return a new set, that contains only the elements that 
# are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'cherry', 'microsoft', 'banana'}

In [74]:
# Remove Set Items
# To remove an item in a set, use the remove(), or the discard() method.
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset) 
# If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [75]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset) 
# If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

In [76]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [77]:
# The del keyword will delete the set completely:

 thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

IndentationError: unexpected indent (<ipython-input-77-3c92162ee385>, line 3)

In [78]:
# Python - Loop Sets

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [79]:
# Python Set clear() Method

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [80]:
# Access Items

# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a for loop, or ask if a specified value is present
# in a set, by using the in keyword.
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

## Dictionary

In [81]:
# Dictionaries are used to store data values in key:value pairs.

# A dictionary is a collection which is ordered*, changeable and does not allow duplicates.
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
# Dictionaries are written with curly brackets, and have keys and values:
thisdict =	{
  "brand": "Maruti",
  "model": "Swift",
  "year": 2014
}
print(thisdict)

{'brand': 'Maruti', 'model': 'Swift', 'year': 2014}

In [82]:
# Print the "brand" value of the dictionary:
thisdict =	{
  "brand": "Maruti",
  "model": "Swift",
  "year": 2014
}
print(thisdict["brand"])

Maruti

In [83]:
# Duplicate values will overwrite existing values:
thisdict =	{
  "brand": "Maruti",
  "model": "Swift",
  "year": 2014,
    "model":"Suzuki"
}
print(thisdict)

{'brand': 'Maruti', 'model': 'Suzuki', 'year': 2014}

In [84]:
# To determine how many items a dictionary has, use the len() function:
print(len(thisdict))

3

In [85]:
# The values in dictionary items can be of any data type:
thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
} 
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
4

In [86]:
print(thisdict["colors"][0])

red

In [87]:
# Print the data type of a dictionary:
print(type(thisdict))

<class 'dict'>

In [88]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [89]:
# Creating a Nested Dictionary
# as shown in the below image
Dict = {1: 'Geeks', 2: 'For',
		3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}

print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [90]:
print(Dict[3]['C'])

Geeks

In [91]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [92]:
print(Dict[5])

{'Nested': {'1': 'Life', '2': 'Geeks'}}

In [93]:
print(Dict[5]['Nested'])

{'1': 'Life', '2': 'Geeks'}

In [94]:
print(Dict[5]['Nested']['2'])

Geeks

## Accessing elements from a Dictionary

In [95]:
# In order to access the items of a dictionary refer to its key name. Key can be used inside square brackets. 
# Python program to demonstrate
# accessing a element from a Dictionary

# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])

# accessing a element using key
print("Accessing a element using key:")
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
Geeks

In [96]:
# There is also a method called get() that will also help in accessing the element from a dictionary.
# Creating a Dictionary
Dict = {1: 'Suraj', 'name': 'For', 3: 'Amol'}

# accessing a element using get()
# method
print("Accessing a element using get:")
print(Dict.get('name'))

Accessing a element using get:
For

In [97]:
# In order to access the value of any key in the nested dictionary, use indexing [] syntax.
# Creating a Dictionary
Dict = {'Dict1': {1: 'Geeks'},
		'Dict2': {'Name': 'For'}}

# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

## Removing Elements from Dictionary

In [98]:
# In Python Dictionary, deletion of keys can be done by using the del keyword. 
# Using the del keyword, specific values from a dictionary as well as the whole dictionary can be deleted. 
# Items in a Nested dictionary can also be deleted by using the del keyword and providing a specific nested 
# key and particular key to be deleted from that nested Dictionary.

# Note: The del Dict will delete the entire dictionary and hence printing it after deletion will raise an Error.

# Initial Dictionary
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks',
		'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'},
		'B' : {1 : 'Geeks', 2 : 'Life'}}
print("Initial Dictionary: ")
print(Dict)

# Deleting a Key value
del Dict[6]
print("\nDeleting a specific key: ")
print(Dict)

# Deleting a Key from
# Nested Dictionary
del Dict['A'][2]
print("\nDeleting a key from Nested Dictionary: ")
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [99]:
# Pop() method is used to return and delete the value of the key specified.
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Deleting a key
# using pop() method
pop_ele = Dict.pop(1)
print('\nDictionary after deletion: ' + str(Dict))
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'name': 'For', 3: 'Geeks'}
Value associated to poped key is: Geeks

In [100]:
# The popitem() returns and removes an arbitrary element (key, value) pair from the dictionary.
# Creating Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}

# Deleting an arbitrary key
# using popitem() function
pop_ele = Dict.popitem()
print("\nDictionary after deletion: " + str(Dict))
print("The arbitrary pair returned is: " + str(pop_ele))

Dictionary after deletion: {1: 'Geeks', 'name': 'For'}
The arbitrary pair returned is: (3, 'Geeks')

In [101]:
# Using clear() method

# All the items from a dictionary can be deleted at once by using clear() method.

# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}


# Deleting entire Dictionary
Dict.clear()
print("\nDeleting Entire Dictionary: ")
print(Dict)

Deleting Entire Dictionary:
{}

In [102]:
# Python program to print odd numbers in a List

In [103]:
list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
    if num%2 != 0 :
        print(num , end=" ")

21 45 93

In [104]:
# list of numbers
list1 = [10, 21, 4, 45, 66, 93]
  
only_odd = [num for num in list1 if num % 2 == 1]
  
print(only_odd)

[21, 45, 93]

In [105]:
# A lambda function is a small anonymous function which returns an object.
# A squaring function using lambda
square = lambda n : n*n
num = square(5)
print(num)

25

In [106]:
myList121 = [10, 25, 17, 9, 30, -5]
# Returns the elements which are multiples of 5
myList222 = list(filter(lambda n : n%5 == 0, myList121))
print(myList222)

TypeError: 'list' object is not callable

In [110]:
# Python program to print odd numbers in a List
# list of numbers 
lista = [10, 21, 4, 45, 661, 93, 191] 
# we can also print odd no's using lambda exp. 
odd_nos = list(filter(lambda x: (x % 2 != 0), lista))
print("Odd numbers in the list: ", odd_nos)

TypeError: 'list' object is not callable

In [112]:
# Python program to print odd Numbers in a List
  
# list of numbers
list1 = [10, 21, 4, 45, 66, 93]
  
only_odd = [num for num in list1 if num % 2 == 1]
  
print(only_odd)

[21, 45, 93]

In [113]:
# Python program to print odd numbers in a List
  
# list of numbers 
list1 = [10, 21, 4, 45, 66, 93, 11] 
  
  
# we can also print odd no's using lambda exp. 
odd_nos = list(filter(lambda x: (x % 2 != 0), list1))
  
print("Odd numbers in the list: ", odd_nos)

TypeError: 'list' object is not callable